.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 300;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.in {
        opacity: 1;
    }

    &.in &__dialog {
        transform: translate(-50%, -50%);
    }

    &__close {
        padding: 0;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        color: dimgrey;
        width: 1rem;
        min-width: 0;
        height: 1rem;
        display: block;
        font-size: 0.8rem;
        line-height: 1rem;

        &:after {
            content: '✖';
            display: block;
        }
    }

    &__dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        transition: transform 0.5s ease;
        width: calc(100% - 2rem);
        max-width: 60rem;
        border-radius: 0.2rem;
        border: 1px solid black;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
        background-color: dimgrey;
        color: lightgrey;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    
    &__header {
        margin-bottom: 1rem;
    }

    &__footer {
        margin-top: 1rem;
    }

    &__body {
        flex-grow: 1;
    }

    &.small &__dialog {
        max-width: 20rem;
        height: auto;
    }

}
