.widget--button {
    line-height: 2rem;
    text-decoration: none;
    padding: 0 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.2rem;
    border: 0;
    min-width: 8rem;
    text-align: center;
    white-space: nowrap;

    background-image: linear-gradient(lightgrey, darkgrey);
    border: 1px solid darkgrey;
    color: dimgrey;

    &:hover {
        color: white !important;
    }

    &[disabled] {
        opacity: 0.75;
        pointer-events: none;
    }

    &.round {
        border-radius: 50%;
        width: 2rem;
        padding: 0;
        height: 2rem;
    }

    &.round, &.small {
        min-width: 0;
        max-width: 2rem;
    }

    &.active, &:active {
        background-image: linear-gradient(darkgrey, grey);
        color: lightgrey;
    }

    &.green {
        background-image: linear-gradient(chartreuse, darkgreen);
        color: greenyellow;
        border-color: forestgreen;
    }
                
    &.purple {
        background-image: linear-gradient(mediumorchid, darkmagenta);
        color: magenta;
        border-color: purple;
    }

    &.yellow {
        background-image: linear-gradient(yellow, gold);
        color: sienna;
        border-color: goldenrod;
    }
    
    &.blue {
        background-image: linear-gradient(deepskyblue, dodgerblue);
        color: powderblue;
        border-color: dodgerblue;
    }

    &.red {
        background-image: linear-gradient(red, darkred);
        color: white;
        border-color: darkred;
    }
}

.widget-group .widget--button {
    &:first-child:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
        border-radius: 0;
        border-left-width: 0;
    }
    
    &:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left-width: 0;
    }
}
