.widget--label {
    white-space: nowrap;
    line-height: 2;
    padding: 0 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;

    &.result {
        font-weight: bold;
        text-decoration-line: underline;
        text-decoration-style: double;
    }

    &.vat:after, .vat:after {
        vertical-align: super;
        font-size: 0.6rem;
        font-weight: bold;
        padding: 0.1rem 0.2rem;
        border-radius: 0.25rem;
        background-color: gold;
        color: sienna;
        margin-left: 0.25rem;
        content: '+VAT';
    }
}
