.widget {
    display: block;
    position: relative;

    &.text {
        &-center {
            text-align: center;
        }
        
        &-left {
            text-align: left;
        }
        
        &-right {
            text-align: right;
        }
    }

    &__tooltip {
        z-index: 900;
        position: absolute;
        top: calc(100% + 1rem);
        left: 0;
        padding: 0.5rem 1rem;
        max-width: 100%;
        background-color: white;
        color: black;
        font-size: 0.8rem;
        text-align: left;
        white-space: normal;
        font-weight: normal;
        border-radius: 0.2rem;
        text-transform: none;

        &:after {
            border: solid transparent;
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: white;
            bottom: 100%;
            left: 1rem;
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-width: 0.5rem;
            margin-left: -0.5rem;
        }
    }
}

.widget, .widget-group {
    &.align {
        &-center {
            margin-left: auto;
            margin-right: auto;
        }

        &-left {
            margin-right: auto;
        }
        
        &-right {
            margin-left: auto;
        }
    }
}

.widget-group {
    display: flex;
    margin-bottom: 1rem;
    
    .widget {
        flex-basis: 0;
        flex-grow: 1;
    }
}
