.widget {
    display: block;

    &.text {
        &-center {
            text-align: center;
        }
        
        &-left {
            text-align: left;
        }
        
        &-right {
            text-align: right;
        }
    }
}

.widget, .widget-group {
    &.align {
        &-center {
            margin-left: auto;
            margin-right: auto;
        }

        &-left {
            margin-right: auto;
        }
        
        &-right {
            margin-left: auto;
        }
    }
}

.widget-group {
    display: flex;
    margin-bottom: 1rem;
    
    .widget {
        flex-basis: 0;
        flex-grow: 1;
    }
}
