html {
    font-size: 16px;
    
    @media($md) {
        font-size: 15px;
    }

    @media($sm) {
        font-size: 14px;
    }
    
    @media($xs) {
        font-size: 13px;
    }
}

body {
    font-family: sans-serif;
    line-height: 1.5rem;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
