.drawer--controls {
    padding: 1rem;
    width: 26rem;

    &__heading {
        color: white;
        font-weight: bold;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    .widget-group {
        margin-bottom: 0;

        .widget {
            min-width: 50%;

            &--label {
                padding: 0;
            }
        }
    }
}
