.drawer {
    position: fixed;
    bottom: 0;
    left: 0;

    &__toggle {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 3rem;
        height: 1rem;
        cursor: pointer;
        background-color: grey;
    }

    // Expanded
    &__toggle:checked ~ &__preview {
        display: none;
    }

    // Collapsed
    &__toggle:not(:checked) ~ &__content {
        display: none;
    }
}
