.drawer--notifications {
    position: fixed;
    left: 0;
    bottom: 12rem;

    &__entry {
        border-radius: 0.2rem;
        padding: 1rem;
        position: relative;
        background-color: dimgrey;
        color: lightgrey;
        transition: transform 0.5s ease;

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        &.out {
            transform: translateX(-100%);
        }

        &__progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            pointer-events: none;
        }

        &__title {
            font-weight: bold;
            position: relative;
            z-index: 1;
            margin-bottom: 0.25rem;
        }

        &__message {
            position: relative;
            z-index: 1;
            margin-bottom: 0.25rem;
        }

        &__action {
            position: relative;
            z-index: 1;
        }

        &.warning {
            background-color: yellow;
            color: black;
        }

        &.alert {
            background-color: red;
            color: white;
        }
    }
}
