.drawer--notifications {
    overflow: hidden;
    padding: 1rem;
    flex-grow: 1;
    width: 26rem;

    &__entry {
        border-radius: 0.2rem;
        padding: 1rem;
        position: relative;
        background-color: whitesmoke;
        transition: transform 0.5s ease;
        border: 2px solid rgba(0, 0, 0, 0);

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        &.out {
            transform: translateX(150%);
        }

        &.expired {
            @keyframes drawer--notifications__entry-expired {
                0% {  border-color: rgba(255, 0, 0, 1); }
                100% {  border-color: rgba(255, 0, 0, 0.3); }
            }

            border-color: rgba(255, 0, 0, 1);
            animation: drawer--notifications__entry-expired 1s linear infinite;
        }

        &__progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            pointer-events: none;
        }

        &__title {
            font-weight: bold;
            position: relative;
            z-index: 1;
            margin-bottom: 0.25rem;
        }

        &__message {
            position: relative;
            z-index: 1;
            margin-bottom: 0.25rem;
        }

        &__action {
            position: relative;
            z-index: 1;
        }

        &.yellow {
            background-color: yellow;
            color: black;
        }

        &.red {
            background-color: red;
            color: white;
        }
        
        &.blue {
            background-color: lightblue;
            color: white;
        }
    }
}
