.drawer--quest-log {
    padding: 1rem;
    
    &:empty {
        display: none;
    }

    &__quest {
        border-radius: 0.2rem;
        padding: 1rem;
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        color: lightgrey;
        
        &__title {
            font-weight: bold;
            position: relative;
            color: white;
            z-index: 1;
            margin-bottom: 0.25rem;
        }

        &__message {
            position: relative;
            z-index: 1;
            margin-bottom: 0.25rem;
        }
    }
}
