.drawer--stats {
    width: 100%;

    &__preview {
        display: flex;
        justify-content: center;

        .widget--label:last-child {
            font-size: 2rem;
            color: white;
        }

        &__company, &__personal {
            max-width: 20rem;
        }

        &__transactions {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__company, &__personal, &__transations {
            flex-shrink: 0;
            flex-grow: 1;
        }
    }
}
