.drawer--timeline {
    position: relative;

    .drawer__preview {
        display: flex;
    }

    &__controls {
        flex-basis: 6rem;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .widget-group {
            margin: 0;
        }
    }
    
    &__indicator {
        position: absolute;
        bottom: calc(100% + 1rem);
        left: 8rem;
        color: white;
        background-color: dimgrey;
        transform-origin: 0% 100%;
        display: block;
        padding: 0.25rem 0.5rem;
        line-height: 1;
        white-space: nowrap;
        font-weight: bold;
        font-size: 0.7rem;
        border-radius: 0.2rem;
        z-index: 30;

        &:after {
           top: 100%;
           left: 0.75rem;
           border: solid transparent;
           content: '';
           height: 0;
           width: 0;
           position: absolute;
           pointer-events: none;
           border-width: 0.5rem;
           margin-left: -0.5rem;
           border-top-color: dimgrey;
        } 
    }

    &__scroller {
        overflow: hidden;
        flex-grow: 1;
        position: relative;

        &__year {
            font-size: 1rem;
            padding-left: 1rem;
            font-weight: bold;
            position: absolute;
            z-index: 20;
            bottom: 2rem;
            left: 5rem;
        }

        &__month, &__day__month {
            font-weight: bold;
            font-size: 1rem;
            bottom: 2rem;
            position: absolute;
            left: 0;
            padding-left: 1rem;
            background-color: white;
            opacity: 0.8;
        }

        &__days {
            display: flex;
            padding-top: 2rem;
        }

        &__day {
            font-size: 0.8rem;
            flex-basis: 2rem;
            width: 2rem;
            font-weight: bold;
            min-width: 2rem;
            position: relative;
            border-left: 1px solid darkgrey;

            &__month {
                &:after {
                    content: '';
                    display: block;
                    height: 6.5rem;
                    border-left: 1px solid darkgrey;
                    position: absolute;
                    left: -1px;
                    top: 0;
                }
            }

            &__number {
                text-align: center;
                line-height: 2rem;
                opacity: 0.5;
            }

            &__notification {
                position: absolute;
                bottom: calc(100% + 0.5rem);
                color: white;
                left: 0.25rem;
                transform-origin: 0% 100%;
                display: inline-block;
                border: 0;
                padding: 0.25rem 0.5rem;
                line-height: 1;
                white-space: nowrap;
                font-weight: bold;
                font-size: 0.7rem;
                border-radius: 0.2rem;
                z-index: 30;

                &:after {
                   top: 100%;
                   left: 0.75rem;
                   border: solid transparent;
                   content: '';
                   height: 0;
                   width: 0;
                   position: absolute;
                   pointer-events: none;
                   border-width: 0.5rem;
                   margin-left: -0.5rem;
                } 
                
                &.purple {
                    background-color: darkmagenta;

                    &:after {
                       border-top-color: darkmagenta;
                    }
                }

                &.red {
                    background-color: darkred;

                    &:after {
                       border-top-color: darkred;
                    }
                }
                
                &.yellow {
                    background-color: gold;

                    &:after {
                       border-top-color: gold;
                    }
                }
                
                &.blue {
                    background-color: dodgerblue;

                    &:after {
                       border-top-color: dodgerblue;
                    }
                }
            }
        }
    }
}
